.colaboraciones-container{

    width: 100%;
    height: auto;
    background-color: #F60000;
    color: #FFFFFF;

}

.colaboraciones{

    text-align: center;

}

.colaboraciones > h1 {
    font-size: 48px;
    font-family: 'Fira Sans', sans-serif;
    padding: 2em 0 2em 0;

}