.slider2 {
    width: 100%;
    height: auto;
    padding: 5rem 0 10rem 0;
  }
  
  .slide2 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .slide2 {
    transform: scale(0.3);
    transition: transform 300ms;
    opacity: 0.5;
  }
  
  .activeSlide2 {
    transform: scale(1);
    opacity: 1;
  }
  
  .arrow2 {
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrow2 svg {
    transition: color 300ms;
  }
  
  .arrow2 svg:hover {
    color: #68edff;
  }
  
  .next2 {
    right: 0%;
    top: 50%;
    margin: 0 3rem 0 0;
  }
  
  .prev2 {
    left: 0%;
    top: 50%;
    margin: 0 0 0 3rem;
  }

  @media screen and (max-width: 1280px){
    .slide2 {
      transform: scale(0.5);
      transition: transform 300ms;
      opacity: 0.5;
    }
    
    .activeSlide2 {
      transform: scale(1.5);
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px){
    .next2 {
      right: 0%;
      top: 50%;
      margin: 0 4.5rem 0 0;
    }
    
    .prev2 {
      left: 0%;
      top: 50%;
      margin: 0 0 0 0.5rem;
    }

    .arrow2 {
      display: none;
    }
  }

  @media screen and (max-width: 768px){
    .slide2 img {
      width: 70%;
      height: auto;
    }
  }

  @media screen and (max-width: 480px){
    .slider2 {
      width: 100%;
      height: auto;
      padding: 5rem 0 7rem 0;
    }
  }

  @media screen and (max-width: 360px){

    
    
    .next2 {
      right: 0%;
      top: 50%;
      margin: 0 0.5% 0 0;
    }
    
    .prev2 {
      left: 0%;
      top: 50%;
      margin: 0 0 0 0.5%;
    }
  }