.container-trabajos{

    background-image: url(/src/media/textura-unsplash.jpg);
    
}

.container-trabajos-2{

  width: 100%;
  height: 110vh;
  background-image: url(/src/media/trabajos/background_color.png);
  
}

.trabajos{

    text-align: center;

}

.trabajos > h1{
    font-size: 48px;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 4em;
    padding-bottom: 2em;
    color: #fff;
}