.nosotros-title{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    font-size: 48px;
    font-family: 'Fira Sans', sans-serif;
    color: #FFF;
}

.background-title{
    width: 100%;
    height: 296px;
    background-image: url(../../media/equipo/team_top_arreglado.png);
    background-color: #FFEFC5;
}

.container-nosotros{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding-top: 6em;
    background-color: #FFEFC5;
    overflow: hidden;
}

.nosotros-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.nosotros-col{
    padding-bottom: 10em;
    padding: 0 3rem 0 0;
}

.nosotros-col > img{
    width: 500px;
    height: auto;
    padding: 1em;
}

/* .team-vicky{
    margin-right: 5rem;
}

.team-july{
    margin-right: 5rem;
}

.team-nanu{

} */

.nosotros-col > h2{
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 1.5em;
}

.nosotros-col > p{
    font-family: 'Fira Sans Condensed', sans-serif;
}

@media  (max-width: 1643px) {

    .container-nosotros{
        height: 150vh;
    }
        
    }

@media  (max-width: 1280px) {

    .container-nosotros{
            height: 200vh;
    }
            
    }

@media  (max-width: 1280px) {

        .container-nosotros{
                height: 310vh;
        }
                
        }

@media  (max-width: 768px) {

    .container-nosotros{
            height: 230vh;
    }
            
    }

/* @media  (max-width: 480px) {
    
        .container-nosotros{
                height: 400vh;
            }
                    
            }  */
  
@media (max-width: 360px){
        .container-nosotros{
            height: 260vh;
        }

        .nosotros-col > img{
            width: 350px;
            height: auto;
            padding: 1em;
        }
                
        }   

@media (max-width: 320px){
        .container-nosotros{
            height: 340vh;
        }
                
        }

/* @media (max-height: 1366px){
        .container-nosotros{
            height: 180vh;
        }

        .nosotros-col > img{
            width: 500px;
            height: auto;
            padding: 1em;
        }
                
        }  */