.container-testimonios{

    width: 100%;
    height: 120vh;
    justify-content: center;
    text-align: center;
    background-image: url(/src/media/opiniones/background_blue.jpg);
    background-repeat: repeat;

}

.testimonios-title{
    width: 100%;
    font-size: 48px;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    background-color: #F60000;
    padding: 2em 0 2em 0;
}

.testimonios-slider{

    padding-top: 5rem;

}

.testimonios > h1{

    font-family: 'Fira Sans', sans-serif;

}