.footer-container{

    width: 100%;
    height: 30vh;
    padding-top: 5rem;
    background-color: #004056;
    color: #fff;
    overflow: hidden;
}

.footer-container > p{

    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 14px;
    text-align: center;

}

.footer-informacion-contacto{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 3rem;
    font-family: 'Fira Sans', sans-serif;
}

.phone-icon{
    float: left;
    padding-left: 15px;
}

.numero-contacto{
    display: inline-block;
    font-size: 16px;
    line-height: 3.2em;
    padding: 1rem 0 0 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.btn-contacto-footer{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.footer-redes-sociales{
    display: inline-block;
    vertical-align: middle;
    padding-left: 75%;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.social-media-container-2{
    margin-top: 20px;
    right: 10px;
    padding-left: 12px;
}

.social-media-2{
    padding-right: 20px;
    width: auto;
    height: 48px;
    cursor: pointer;
}

.footer-copy{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.footer-copy > p{

    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
    text-align: center;

}


@media  (max-width: 1665px) {

    .footer-container{
        width: 100%;
        height: 30vh;
        padding-top: 5rem;
        background-color: #004056;
        color: #fff;
        overflow: hidden;
    }

    .footer-informacion-contacto{
        width: auto;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        margin-left: 3rem;
        font-family: 'Fira Sans', sans-serif;
    }
    
    .phone-icon{
        float: left;
        padding-left: 15px;
    }
    
    .numero-contacto{
        display: inline-block;
        font-size: 16px;
        line-height: 3.2em;
        padding: 1rem 0 0 0;
        font-family: 'Fira Sans Condensed', sans-serif;
    }
    
    .btn-contacto-footer{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }
    
    .footer-redes-sociales{
        width: auto;
        display: inline-block;
        vertical-align: middle;
        /* padding-left: 70%; */
        font-size: 20px;
        font-family: 'Fira Sans', sans-serif;
    }
    
    .social-media-container-2{
        margin-top: 20px;
        right: 10px;
        padding-left: 12px;
    }
    
    .social-media-2{
        padding-right: 20px;
        width: auto;
        height: 48px;
        cursor: pointer;
    }
        
}